@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #414af2;
  transform-origin: 0%;
}

.swiper {
  width: 100%;
  height: 30rem;
  min-height: 24rem;
  border: 2px solid #d1d5db; /* 회색 테두리 (Tailwind CSS gray-300) */
  border-radius: 8px; /* 라운드된 테두리 */
  padding: 8px; /* 안쪽 여백 추가 */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 공통 스타일 */
.container {
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: linear-gradient(135deg, #414af2, #3949ab);
  color: white;
}

.title-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto 0;
}

.title {
  flex: 1;
  margin-left: 4rem;
  border-right-width: 2px;
  border-right-color: #fff;
  max-width: 25%;
  min-width: 200px;
}

.title h1 {
  width: 100%;
  font-size: 2em;
  line-height: 1.2;
}

.content {
  flex: 1;
  text-align: left;
  margin: 0 2rem;

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

.subtitle {
  margin: 20px 0;
  font-size: 1em;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  margin-top: 2rem;
  width: 15rem;
  height: auto;
  border-radius: 50%;
}

.scroll-indicator {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2em;
}

.mobileImage {
  display: none;
}

/* 가로 px이 1270px 이하일 때 */
@media (max-width: 1270px) {
  .title {
    flex: 1;
    margin-left: 4rem;
    margin-top: 4rem;
    border-right-width: 2px;
    border-right-color: #fff;
    max-width: 25%;
    min-width: 200px;
  }

  .title h1 {
    width: 100%;
    font-size: 1.6em;
    line-height: 1.2;
  }

  .subtitle {
    margin: 20px 0;
    font-size: 0.9em;
  }

  .content {
    flex: 1;
    text-align: left;
    margin: 0 2rem;
    margin-top: 4rem;

    h3 {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    p {
      font-size: 0.7rem;
      margin-bottom: 1rem;
    }
  }

  .image img {
    margin-top: 2rem;
    width: 12rem;
    height: auto;
    border-radius: 50%;
  }

  .mobileImage {
    display: none;
  }
}

/* 가로 px이 769 이하일 때 */
@media (max-width: 769px) {
  .title-image-container {
    display: flex; /* 추가: Flexbox 레이아웃을 적용 */
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .title {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    border: none;
  }
  .mobilTitle {
    margin-right: 1rem;
  }

  .title h1 {
    font-size: 1.2em;
    text-align: left;
  }

  .subtitle {
    display: none;
  }

  .content {
    max-width: 100%;
    margin: 1rem;
  }

  .mobileImage {
    margin: 1rem 0;

    img {
      width: 5rem;
      height: auto;
    }
  }

  .image {
    margin: 1rem 0;
    display: none;
  }

  .scroll-indicator {
    font-size: 1.5em;
  }
}
